
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
    height: 100%;
    width:100%;
    background-color: #d3d3d3;

}




main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.playerGrid{
    height:50%;
    width: 70%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    row-gap: 4px;
}
.computerGrid{
    height:50%;
    width: 70%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    row-gap: 4px;
}

td {
    height: 100%;
    width: 100%;
    border: 1px black solid;
    background-color: gray;
}
.gameboardOneRows {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 4px;
}
.gameboardTwoRows {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 4px;
}

@media (max-width: 1024px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    .playerGrid{
        height: 90%;
        width: 150%
    }
    .computerGrid{
        height: 90%;
        width: 150%
    }
    .container{
        flex-direction: row;
        width: 75%
    }
    .shipList{
        width:20%
    }
}
/*

.playerGrid{
    height: 10%;
    width: 10%;
    position: absolute; 
}
.computerGrid{
    height: 60%;
    width: 30%;
    background-color: gray;
    position: absolute; 
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    row-gap: 4px;
}
.gameboardTwoRows {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 4px;
}


.shipList {
    height: 50px;
    width: 50px;
} */